.swiper {
  width: 100%;
  height: 27.37rem;
}

.swiper-slide {
  text-align: center;
  

  display: flex;
  justify-content: center;
  align-items: center;
}

.swiper-slide img {
  display: block;
  width: 100%;
  height: 100%;
  object-fit: cover;
}
.ease-in-transition .swiper-slide {
  transition-timing-function: ease-out;
}

.swiper-button-prev,
.swiper-button-next{
  color: var(--primary);
}
.custom .swiper-button-prev{
left: 12.19rem;
}
.custom .swiper-button-next{
left: 35.19rem;
}
