@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
  font-family: "Bebas";
  src: url("/fonts/BebasNeue-Regular.ttf") format("truetype");
}
@font-face {
  font-family: "StageGrotesk-black";
  src: url("/fonts/StageGrotesk-Black.ttf") format("truetype");
}
@font-face {
  font-family: "StageGrotesk-bold";
  src: url("/fonts/StageGrotesk-Bold.ttf") format("truetype");
}
@font-face {
  font-family: "StageGrotesk-ligth";
  src: url("/fonts/StageGrotesk-Light.ttf") format("truetype");
}
@font-face {
  font-family: "StageGrotesk-regular";
  src: url("/fonts/StageGrotesk-Regular.ttf") format("truetype");
}
@font-face {
  font-family: "Wayland";
  src: url("/fonts/Wayland.ttf") format("truetype");
}

@media (min-width: 1024px) {
  #root {
    scroll-snap-type: y mandatory;
    overflow-y: scroll;
    padding: 0;
    margin: 0;
    scroll-behavior: smooth;
  }

  .snap-item {
    scroll-snap-align: start;
    margin: 0;
  }
}
@layer base {
  :root {
    --color-primary: #fcf6cc;
    --color-second: #000000;
    --color-third: #e9e2b4;
    --color-opacityBlack: #00000020;
    font-synthesis: none;
    text-rendering: optimizeLegibility;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    @apply text-primary font-StageGroteskRegular;
  }
}

.flexCenter {
  @apply flex justify-center items-center;
}

html {
  @apply overflow-x-hidden xl:text-[1vw] xs:text-[3vw] sm:text-[1.5vw] lg:text-[1vw] scroll-smooth;
}
body,
#root {
  width: 100%;
  height: 100vh;
  position: relative;
}
img,
svg {
  @apply w-full h-full object-contain;
}
strong {
  @apply font-StageGroteskBlack;
}
.button_large{
  @apply bg-primary w-[16.5rem] h-[3.3rem] rounded-md font-Wayland text-[2rem];
}
button {
  @apply font-Wayland bg-primary text-second flexCenter  rounded-md;
}
.HoverButtons{
  @apply transition-all ease-in-out duration-200 hover:scale-[1.02]
}