@tailwind base;
@tailwind components;
@tailwind utilities;

 
@font-face {
  font-family: "StageGrotesk-black";
  src: url("/fonts/StageGrotesk-Black.ttf") format("truetype");
}
@font-face {
  font-family: "StageGrotesk-bold";
  src: url("/fonts/StageGrotesk-Bold.ttf") format("truetype");
}
@font-face {
  font-family: "StageGrotesk-ligth";
  src: url("/fonts/StageGrotesk-Light.ttf") format("truetype");
}
@font-face {
  font-family: "StageGrotesk-regular";
  src: url("/fonts/StageGrotesk-Regular.ttf") format("truetype");
}
@font-face {
  font-family: "Wayland";
  src: url("/fonts/Wayland.ttf") format("truetype");
}

@media (min-width: 1024px) {
  #root {
    scroll-snap-type: y mandatory;
    overflow-y: scroll;
    padding: 0;
    margin: 0;
    scroll-behavior: smooth;
  }

  .snap-item {
    scroll-snap-align: start;
    margin: 0;
  }
}
@layer base {
  :root {
    --color-primary: #e9e2b4;
    --color-second: #000000;
    --color-third: #fcf6cc;
    --color-opacityBlack: #00000020;
    font-synthesis: none;
    text-rendering: optimizeLegibility;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    @apply text-primary font-StageGroteskRegular;
  }
}

.flexCenter {
  @apply flex justify-center items-center;
}

html {
  @apply overflow-x-hidden xl:text-[1vw] xs:text-[3vw] sm:text-[1.5vw] lg:text-[1vw] scroll-smooth;
}
body,
#root {
  width: 100%;
  height: 100vh;
  position: relative;
  @apply overflow-x-hidden;
}
img,
svg {
  @apply w-full h-full object-contain;
}
strong {
  @apply font-StageGroteskBlack;
}
.button_large{
  @apply bg-transparent hover:bg-primary border border-primary text-primary hover:text-black px-3.5 py-2 rounded-lg font-StageGroteskLigth hover:font-StageGroteskBlack text-[1rem];
  
}
button {
  @apply font-StageGroteskBlack border border-primary text-primary flexCenter rounded-lg uppercase tracking-wide;
}
.HoverButtons{
  @apply transition-all ease-in-out duration-700  hover:bg-primary hover:text-second
}

/* Estilos del contenedor general del calendario */

/* Estilos de react-datepicker */
.react-datepicker {
  background: transparent;
  color: #fff;
  font-family: sans-serif;
  width: 100%;
  border: none;
}

/* Encabezado personalizado para el mes y año */
.react-datepicker__current-month {
  font-size: 1.25rem;
  font-weight: bold;
  text-transform: uppercase;
  text-align: center;
  margin-bottom: 0.5rem;
}

/* Navegación (flechas) */
.react-datepicker__navigation {
  top: 1rem;
}
p{
  @apply text-base;
}
.react-datepicker__navigation-icon::before {
  border-color: #fff;
}

/* Días de la semana */
.react-datepicker__day-names {
  display: flex;
  justify-content: space-between;
  margin-bottom: 0.5rem;
}

.react-datepicker__day-name {
  font-weight: bold;
  color: #fcf6cc;
}

/* Días del calendario */
.react-datepicker__day {
  width: 2.5rem;
  line-height: 2.5rem;
  margin: 0.2rem;
  border-radius: 0.5rem;
  text-align: center;
  color: #fcf6cc;
  cursor: pointer;
}

.react-datepicker__day:hover {
  background-color: rgba(255, 255, 255, 0.2);
}

/* Día seleccionado */
.react-datepicker__day--selected {
  background-color: rgba(255, 255, 255, 0.3);
  color: #fff;
  font-weight: bold;
}

/* Día actual */
.react-datepicker__day--today {
  border: 1px solid rgba(255, 255, 255, 0.5);
  font-weight: bold;
}
.react-datepicker__header{
  background-color: transparent;
  border: none;
  color: #fcf6cc;
}
.react-datepicker__day--keyboard-selected {
  background-color: #fcf6cc;
  color: #000000;
}
/*Hamburgesa*/
.lineBurger {
  @apply absolute w-full h-[2px] rounded-full transition-all ease-in-out duration-500;
}
.lineBurger1 {
  @apply top-0;
}
.lineBurger2 {
  @apply top-1/2 translate-y-[-50%];
}
.lineBurger3 {
  @apply bottom-0;
}
.active .lineBurger1 {
  @apply rotate-[45deg] top-2;
}
.active .lineBurger2 {
  @apply absolute top-2 rotate-[-45deg] translate-y-0;
}
.active .lineBurger3 {
  @apply absolute bottom-0 opacity-0 invisible;
}
.lineBurger.active {
  @apply absolute top-0;
}
.casete {
  position: relative;
}


.regaloIcon{
  transition: transform 0.3s ease;
  transform-style: preserve-3d; /* Habilitar el efecto 3D */
}
.buttonRegalo:hover .regaloIcon {
  transform: rotateY(360deg); /* Rotación en el eje Y */
}


/* Estilo para la barra de desplazamiento */
::-webkit-scrollbar {
  width: 5px; /* Ancho de la barra de desplazamiento */
}

/* Estilo para el riel de la barra de desplazamiento */
::-webkit-scrollbar-track {
  background-color: transparent; /* Color de fondo del riel */
}

/* Estilo para el pulgar (la parte móvil) de la barra de desplazamiento */
::-webkit-scrollbar-thumb {
  background-color: var(--color-primary); /* Color del pulgar */
}
/* Estilo para la barra de desplazamiento en Firefox */
/* Nota: Esto solo funciona en Firefox 64+ */
* {
  scrollbar-color: var(--color-primary) #000; /* Color del pulgar y del riel */
  scrollbar-width: thin; /* Ancho de la barra de desplazamiento */
}